<div class="container" ng-controller="IndexCtrl">
  <h1 class="text-center">Cmshop</h1>
  <div class="row" ng-repeat="post in data.posts">
    <h2>{{post.title}}</h2>
    <p>{{post.description}}</p>
  </div>
</div>
